<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>スーパー喘ぎ声メーカー</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <style>
    body {
      background-color: #FACD00;
    }

    nav {
      background-color: #fff;
      font-family: "M PLUS 1p";
      font-weight: bold;
    }

    .jumbotron {
      padding: 2rem 2rem;
      background: #fff;
    }

    .command {
      font-size: 15px;
      cursor: pointer;
      color: #08c;
    }

    a .fa-github {
      font-size: 30px;
      color: #333;
    }

    a .fa-github:hover {
      opacity: 0.8;
    }

    ul{
  padding-left:0;
    }
    
    li{
  list-style:none;
    }

    @media screen and (min-width: 576px) {
      .wordInput {
        margin-right: 16px;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href=""></i>スーパー喘ぎ声メーカー<i class="fas fa-wrench"></i></a>
  </nav>

  <div class="container" id="app">
    <div class="jumbotron mt-4">
      <p class="lead">単語をランダムに組み合わせて君だけの喘ぎ声を作ろう！</p>
      <p class="mb-4">この喘ぎ声の組み合わせさっきも書いたな？となりがちな貴方に。<br>
        使用したい単語をいくつか登録して、生成ボタンを押せば喘ぎ声が表示されます。</p>
      <form class=" mb-4 d-flex flex-column flex-md-row" @submit.prevent="addItem">
        <div class="form-group mb-2 flex-column flex-fill flex-md-grow-0 wordInput">
          <label for="inputPassword2" class="sr-only">追加したい単語</label>
          <input type="text" class="form-control" id="inputPassword2" placeholder="追加したい単語" v-model="newItem">
        </div>
        <button type="submit" class="btn btn-success mb-2 flex-fill flex-md-grow-0">追加</button>
      </form>
      <ul v-if="array.length">
        <li v-for="(word, index) in array">
          {{ word }}
          <span @click="deleteItem(index)" class="command">
            <i class="fas fa-times-circle"></i>
          </span>
        </li>
      </ul>
      <span v-else>単語を追加してください。</span>
      <hr class="my-4">
      <div class="d-flex flex-column flex-md-row">
        <button type="button" class="btn btn-outline-secondary flex-fill flex-md-grow-0 mr-md-3 mb-2"
          @click="reset()">単語をリセット</button>
        <button type="button" class="btn btn-success flex-fill flex-md-grow-0 mr-md-3 mb-2" @click="generate"
          v-if="voiceList.length">再生成！</button>
        <button type="button" class="btn btn-success flex-fill flex-md-grow-0 mr-md-3 mb-2" @click="generate"
          v-else>生成！</button>
      </div>
    </div>
    <h4 class="mb-2">結果</h4>
    <hr>
    <ul v-if="array.length || voiceList.length">
      <li v-bind:id="`clipboard-target${index}`" class="clipboard-target mb-2" v-for="(voice, index) of voiceList"
        v-bind:key="index">
        {{voice}}
        <div class="btn btn-danger btn-sm ml-3 btn-clipboard" data-toggle="tooltip"
          v-bind:data-clipboard-target="`#clipboard-target${index}`">
          コピー
        </div>
      </li>
    </ul>
    <span v-else>単語を追加してください。</span>
    <!-- ツイートボタン -->
    <div class="contact mt-3">
      <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="https://mitaru.github.io/superxxxmaker/index.html" data-text="みんなもスーパー喘ぎ声メーカーで遊ぼう！" data-size="large"
        data-hashtags="スーパー喘ぎ声メーカー">Tweet</a>
    </div>

    <footer class="my-1 pt-5 text-muted text-center text-small">
      <ul>
        <li><a href="https://www.amazon.co.jp/hz/wishlist/ls/15NK3U7YC9XPT?ref_=wl_share">役に立った、という方はコーラ奢ってください</a></li>
        <li><a href="https://twitter.com/SakaiMitaru"><i
              class="fab fa-twitter-square mr-1"></i>SakaiMitaru</a></li>
        <li><a href="https://qiita.com/mitaru/items/044ca7efa260e6a4099e">Qiita喘ぎ声メーカー紹介記事</a></li>
        <li><a href="https://github.com/mitaru/superxxxmaker.git"><i
              class="fab fa-github"></i></a></li>
      </ul>
    </footer>
  </div><!-- /.container -->

  <!-- bootstrap4 -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
    crossorigin="anonymous"></script>
  <!-- vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <!-- clipboard.js -->
  <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
  <!-- JavaScript -->
  <script src="xxxmaker.js"></script>
</body>

</html>
